export(msarc,
       msarc.loadMS,
       msarc.subtract,
       msarc.findGOterms,
       msarc.getTerms,
       msarc.saveTerms,
       msarc.loadTerms,
       msarc.filterTerms,
       msarc.plotSVG,
       msarc.plotCircle,
       msarc.plotHeatmap,
       msarc.tagCloud,
       msarc.copyColors)
S3method(print,msarc)
S3method(summary,msarc)
importFrom(gplots,heatmap.2)
importFrom(XLConnect,readWorksheetFromFile)
importFrom(RColorBrewer,brewer.pal)
importFrom(wordcloud,wordcloud)
